@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  color: #14274e;
}

.flex-basic-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Button */
.btn{
  cursor: pointer;
  background: #14274e;
  color: #fff;
  height: 50px;
  border-radius: 4px;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.btn-main {
  background: #14274e;
}

.btn-main:hover {
  background: #394867;
}

.btn-primary{
  background: transparent;
  border: 1px solid #14274e;
  color: #14274e;
}

.btn.disable{
  background: #455d8d;
}

.btn-primary:hover{
  background: #394867;
  color: #fff;
}
/* Button */

/* Content */
.page-layout{
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
}

.wrapper-body{
  height : calc(100vh - 309px);
  padding : 4rem 4rem ;
  overflow-y : auto;
}

.wrapper-card-items {
  /* display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
  row-gap: 8rem;
  padding-top: 7rem;
  justify-content: center;
  overflow-x: hidden; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  row-gap: 8rem;
  margin-top: 8rem;
}

.card-items {
  width: 100%;
  height: 200px;
  box-shadow: 0px 4px 20px 0px rgba(72, 119, 159, 0.18);
  position: relative;
  cursor: pointer;
}

.card-image-pizza {
  width: 200px;
  position: absolute;
  top: -90px;
  left: 24%;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  background: #14274e;
  border-radius: 5px;
}

.card-line-clamp{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.wrapper-sidebar{
  margin-top: 1rem;
  width: 100%;
  max-height: 100vh;
  position: sticky;
  overflow-y: scroll;
  scrollbar-width: none;
  top : -10px;
  align-self: start;
}

.wrapper-sidebar-content{
  display : block;
  text-transform : capitalize;
  margin-top: 1rem;
}

.wrapper-sidebar-content:hover{
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}



/* Text field */
.text-field {
  padding: 0.8rem 1rem;
  background: #f5f5f5;
  border: none;
  outline: none;
  color: #14274e;
  border-radius: 4px;
}

input {
  font-family: "Montserrat", sans-serif;
}

.text-title{
  font-size : 20px;
  font-weight : 600;
  color: #ffff;
}

.text-description{
  font-size: 16px;
  font-weight: 300;
  margin-top: .5rem;
  color: #ffff;
  padding: 0 0.5rem;
}

.text-sidebar {
  font-size: 12px;
  margin-top: .5rem;
  color: #311a1a;
  padding: 0 0.5rem;
}
/* Text field */

/* Loading Spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #14274e;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #14274e transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loading Spinner */

/* Modal Component */
.wrapper-modal{
  background: rgb(0, 0, 0, .5);
  position: fixed;
  top : 0;
  left : 0;
  width : 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-modal .modal-body{
  height: auto;
  background: #FFF;
  padding: 2rem;
  border-radius: 5px;
}
/* Modal Component */

/* Create Pizza Page */
.wrapper-create{
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-control {
  margin-top : 2rem
}

.form-control .form-div{
  margin-bottom: 1rem;
  text-align: left;
}
/* Create Pizza Page */

/* Link */
.link-no-style{
  color : inherit;
  text-decoration: none;
}
/* Link */

/* Footer */
.footer{
  text-align : center ;
  padding : 2rem 0 ;
  border-top : 1px solid #f1f6f9;
}

.header{
  font-size : 40px ;
  font-weight : 600 ;
}

/* repository */
@media (max-width : 900px){
  .page-layout{
    grid-template-columns: 150px 1fr;
  }
}

@media (max-width : 450px){
  .page-layout{
    grid-template-columns: 80px 1fr;
    gap : 20px;
  }

  .wrapper-card-items {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 10px;
    row-gap: 8rem;
    margin-top: 8rem;
  }

  .wrapper-body{
    height : calc(100vh);
    padding : 1rem 1rem ;
    overflow-y : auto;
  }

  .btn{
    height: 30px;
    border-radius: 4px;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    font-size: 10px;
  }

  .content-area{
    max-width: 250px;
  }

  .card-image-pizza {
    width: 200px;
    position: absolute;
    top: -90px;
    left: 18%;
  }

  .footer{
    text-align : center ;
    padding : 1rem 0 ;
    border-top : 1px solid #f1f6f9;
    font-size: 12px;
  }
  .header{
    font-size : 20px ;
    font-weight : 600 ;
  }
}
/* repository */